<header class="header">
  <div class="header__logo">
    <div class="header__logo-main">
      <span class="header__logo-text-white">АВТО</span>
      <span class="header__logo-text-red">ИЗ</span>
    </div>
    <div class="header__logo-countries">
      <span class="header__country-red">ЕВРОПЫ</span>
      <span class="header__country-white">США</span>
      <span class="header__country-red">КИТАЯ</span>
    </div>
  </div>

  <span class="header__phone">
    +375(29)721-17-91
  </span>
</header>
<main>
  <app-auc-list class="flex full-w"></app-auc-list>
  <app-calc></app-calc>
  <app-info></app-info>
</main>
